<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8" />
    </head>
    <body>
<div id="app">
    <app-nav></app-nav>

</div>

    <script src="./js/lib/vue.js"></script>
    <script>
        Vue.component('app-nav',{props:['nav'],
            template : [
            '<div>',
                '<template v-if="isLogin">',
                    '<div class="M_account">',
                        '<div v-on:click="onClickUser()" v-bind:class="{\'M_thumb_nobrd\': !avatarFrame.img}" class="M_thumb">',
                            '<img v-bind:src="userinfo.headicon_70" class="img">',
                            '<img v-if="avatarFrame.img" v-bind:src="avatarFrame.img" class="head_cover">',
                        '</div>',
                        '<div class="info">',
                            '<div class="name"><span v-on:click="onClickUser()">{{userinfo.nickname}}</span><span v-show="isShow" v-on:click="onClickLogout()" class="exit"><a href="javascript:;">退出</a></span></div>',
                            '<div class="bx">',
                            '<span v-on:click="onClickScore()" class="satis"><i class="n">积分：</i><i class="v">{{score}}</i></span>',
                            // 未领取
                            '<span v-if="avatarFrame.canRecive != 0" v-on:click="onClickGetAvatarFrame()" class="get_frame">领·{{avatarFrame.canReciveName}}<i class="I_icon1"></i></span>',
                            // 已领取
                            // '<span v-if="avatarFrame.received" v-on:click="onClickChangeAvatarFrame()" class="get_frame">更换头像框<i class="I_icon1"></i></span>',
                            '</div>',
                        '</div>',
                    '</div>',
                '</template>',
                '<template v-else>',
                    '<div class="login">',
                        '<i class="I_icon I_icon15"></i>',
                        '<span class="lgn"><a v-on:click="onClickLogin()" href="javascript:;">登录</a><span>/</span><a v-on:click="onClickRegister()" href="javascript:;">注册</a><span class="tips" v-on:click="onClickTip()">领.福袋和限量头像框</span></span>',
                    '</div>',
                '</template>',
            '</div>'
        ].join('')}
        )

        var app = new Vue({
            el:"#app",
            data:{
                text:"这里有很多文字"
            }

        })




    </script>
