<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<!--这里是view-->
	<div id="app">
		<h1>Hello, Vue.js!</h1>
		<h1 v-if='yes'>Yes!</h1>
		<h1 v-if="no">No!</h1>
		<h1 v-if='age >=25'> Age:{{age}}</h1>
		<h1 v-show="name.indexOf('jack') >= 0 ">Name:{{name}}</h1>
	</div>

<script src="./vue.js"></script>
<script type="text/javascript">
	// 这是我们的 Model
	var vm = new Vue({
		el: '#app',
		data : {
			yes : true,
			no : false,
			age : 28,
			name: "keep fool"
		}
	})

	// age 是定义在选项对象的data属性中的，为什么Vue实例可以直接访问它？因为vue对象都会代理选项对象里的data属性。
</script>


</body>
</html>